In [2]:
import os
import json

from typing import List, Dict, Any, Tuple, Optional

from formating import convert_json_to_insert_sql, convert_json_to_update_sql
from crud import insert_records, delete_records, fetch_records, get_tables

In [3]:
current_dir = os.getcwd()
parent_dir = os.path.dirname(current_dir)
assets_dir = os.path.join(parent_dir, '_assets')
db_dir = os.path.join(parent_dir, 'fetusapp')
db_filename = 'data.sqlite'
data_filename = 'detoraki_fetusdata.json'
mapping_filename = 'column_mapping.json'

db_path = os.path.join(db_dir, db_filename)
json_file = os.path.join(assets_dir, data_filename)
mapping_file = os.path.join(current_dir, mapping_filename)

Load the source data

In [4]:
with open(json_file, 'r', encoding='utf-8') as f:
        json_data = json.load(f)

Load the column mapping from the JSON file

In [5]:
with open(mapping_file, 'r', encoding='utf-8') as f:
        column_mapping = json.load(f)

### Setup admin in Users (INSERT)

The script should already be there in _assets

In [ ]:
target_tablename = 'users'
insert_records(target_tablename, db_path)

In [ ]:
fetch_records(target_tablename, db_path)

In [ ]:
# delete_records(target_tablename, db_path)

---------------------

### Migrate Patients (INSERT)

Includes manual step to treat patients missing last_name

In [ ]:
source_tablename = 's_org_ext'
target_tablename = 'patients'
data_index = 3

sql_output = convert_json_to_insert_sql(json_data[data_index]['data'], column_mapping[source_tablename], target_tablename = target_tablename)
# print(sql_output)
output_file = os.path.join(assets_dir, f'{target_tablename}.sql')
with open(output_file, 'w', encoding='utf-8') as f:
    f.write(sql_output)

#### Data Cleansing:
* Identify records with null last name and either 
    * convert the null to the string 'null' in the generated script or
    * remove the record altogether if it doesn't have any useful payload

In [ ]:
patient_data = json_data[data_index]['data']
null_lastname_ids = [item['s_org_extID'] for item in patient_data if item['lastName'] == ""]
print(null_lastname_ids)

In [ ]:
delete_records(target_tablename, db_path)

In [ ]:
insert_records(target_tablename, db_path)

In [ ]:
fetch_records(target_tablename, db_path)

---------------------

### Migrate MedicalHistory (INSERT)

In [ ]:
source_tablename = 'tblmedhistory'
target_tablename = 'history_medical'
data_index = 10

sql_output = convert_json_to_insert_sql(json_data[data_index]['data'], column_mapping[source_tablename], target_tablename = target_tablename)
# print(sql_output)
output_file = os.path.join(assets_dir, f'{target_tablename}.sql')
with open(output_file, 'w', encoding='utf-8') as f:
    f.write(sql_output)

In [ ]:
insert_records(target_tablename, db_path)

In [ ]:
# delete_records(target_tablename, db_path)

In [ ]:
fetch_records(target_tablename, db_path)

------------------

### Migrate Short Gynaecological History data (UPDATE)

In [ ]:
source_tablename = 'tblgynhistoryshort'
target_tablename = 'history_medical'
data_index = 7

sql_output = convert_json_to_update_sql(json_data[data_index]['data'], column_mapping[source_tablename], target_tablename = target_tablename, source_id = 'MedHistoryID', target_id = 'id')
# print(sql_output)
output_file = os.path.join(assets_dir, f'{target_tablename}.sql')
with open(output_file, 'w', encoding='utf-8') as f:
    f.write(sql_output)

In [ ]:
insert_records(target_tablename, db_path)

---------

### Migrate Pathologies (UPDATE)

In [ ]:
source_tablename = 'tblpathologies'
target_tablename = 'history_medical'
data_index = 13

sql_output = convert_json_to_update_sql(json_data[data_index]['data'], column_mapping[source_tablename], target_tablename = target_tablename, source_id = 'MedHistoryID', target_id = 'id')
# print(sql_output)
output_file = os.path.join(assets_dir, f'{target_tablename}.sql')
with open(output_file, 'w', encoding='utf-8') as f:
    f.write(sql_output)

In [ ]:
insert_records(target_tablename, db_path)

In [ ]:
fetch_records(target_tablename, db_path)

----------

### Migrate ObstetricsHistory (INSERT)

In [11]:
source_tablename = 'tblobstetrichistory'
target_tablename = 'history_obstetrics'
data_index = 11 # this is the index in the json_data list where the relevant data is stored

sql_output = convert_json_to_insert_sql(json_data[data_index]['data'], column_mapping[source_tablename], target_tablename = target_tablename)
# print(sql_output)
output_file = os.path.join(assets_dir, f'{target_tablename}.sql')
with open(output_file, 'w', encoding='utf-8') as f:
    f.write(sql_output)

In [12]:
delete_records(target_tablename, db_path)

In [13]:
insert_records(target_tablename, db_path)

Executing statement: INSERT INTO history_obstetrics (id, patient_id, ft, kt, embrioulkia, te, ae, created_on, created_by, last_updated_on, last_updated_by, is_active)
VALUES
(1, 3, 2, 0, 0, 0, 0, null, 1, '2013-11-21 18:05:33', 1, 1),
(5, 66, 2, 0, 0, 3, 0, '2014-02-27 01:50:24', 1, '2014-02-27 01:50:39', 1, 1),
(6, 85, 3, 0, 0, 0, 0, '2014-05-05 14:51:40', 1, '2014-05-05 14:51:40', 1, 1),
(7, 90, 0, 0, 0, 0, 0, '2014-06-16 14:24:00', 1, '2014-06-16 14:24:00', 1, 1),
(8, 92, 2, 0, 0, 0, 1, '2014-06-16 16:56:40', 1, '2014-06-16 16:56:40', 1, 1),
(9, 93, 2, 0, 0, 1, 1, '2014-06-19 10:06:02', 1, '2014-06-19 10:06:02', 1, 1),
(10, 97, 0, 0, 0, 1, 0, '2014-07-22 17:14:06', 1, '2014-07-22 17:14:06', 1, 1),
(11, 98, 0, 0, 0, 1, 0, '2014-07-24 13:37:30', 1, '2014-07-24 13:37:30', 1, 1),
(12, 103, 2, 0, 0, 1, 0, '2014-09-16 19:14:21', 1, '2014-09-16 19:14:21', 1, 1),
(13, 110, 2, 0, 1, 0, 0, '2014-10-14 13:03:07', 1, '2014-10-14 13:03:07', 1, 1),
(14, 112, 0, 1, 0, 2, 0, '2014-10-16 16:24:23', 1, '2017-02-09 15:59:46', 1, 1),
(15, 116, 0, 2, 0, 0, 1, '2014-11-06 18:04:20', 1, '2015-10-29 18:43:48', 1, 1),
(16, 120, 0, 0, 0, 5, 0, '2014-12-03 18:27:15', 1, '2014-12-03 18:27:15', 1, 1),
(17, 121, 2, 0, 0, 0, 0, '2014-12-04 16:12:44', 1, '2014-12-04 16:12:44', 1, 1),
(18, 126, 0, 1, 0, 1, 0, '2014-12-16 17:30:28', 1, '2014-12-16 17:30:28', 1, 1),
(19, 129, 0, 2, 0, 0, 0, '2015-01-13 17:11:43', 1, '2015-01-13 17:11:43', 1, 1),
(20, 130, 0, 1, 0, 0, 0, '2015-01-20 16:03:47', 1, '2015-01-20 16:03:47', 1, 1),
(21, 131, 2, 0, 0, 1, 0, '2015-01-20 17:57:25', 1, '2015-01-20 17:57:25', 1, 1),
(22, 133, 2, 0, 0, 0, 0, '2015-02-04 17:28:10', 1, '2015-02-04 17:28:10', 1, 1),
(23, 136, 3, 0, 0, 0, 0, '2015-02-11 17:01:27', 1, '2015-02-11 17:01:27', 1, 1),
(24, 138, 2, 0, 0, 0, 0, '2015-03-03 14:13:48', 1, '2015-03-03 14:13:48', 1, 1),
(25, 148, 1, 0, 0, 0, 0, '2015-04-03 17:20:18', 1, '2015-04-03 17:20:18', 1, 1),
(26, 149, 0, 0, 0, 0, 0, '2015-04-14 17:38:17', 1, '2015-04-14 17:38:17', 1, 1),
(27, 151, 0, 0, 0, 0, 0, '2015-04-23 16:58:02', 1, '2015-04-23 16:58:02', 1, 1),
(28, 152, 0, 1, 0, 0, 0, '2015-04-23 19:15:05', 1, '2015-04-23 19:15:05', 1, 1),
(29, 153, 0, 0, 0, 1, 0, '2015-04-29 17:17:12', 1, '2015-04-29 17:17:12', 1, 1),
(30, 154, 0, 0, 0, 1, 0, '2015-05-08 18:04:23', 1, '2015-05-08 18:04:23', 1, 1),
(31, 157, 2, 0, 0, 0, 0, '2015-06-09 15:06:12', 1, '2015-06-09 15:06:12', 1, 1),
(32, 158, 0, 0, 0, 2, 0, '2015-06-09 17:18:43', 1, '2015-06-09 17:18:43', 1, 1),
(33, 159, 0, 0, 0, 2, 0, '2015-06-09 19:13:58', 1, '2015-06-09 19:13:58', 1, 1),
(34, 160, 1, 0, 0, 1, 0, '2015-06-10 18:09:11', 1, '2015-06-10 18:09:11', 1, 1),
(35, 162, 1, 0, 0, 0, 1, '2015-06-16 19:01:42', 1, '2015-06-16 19:01:42', 1, 1),
(36, 164, 1, 0, 0, 0, 0, '2015-06-25 18:27:09', 1, '2015-06-25 18:27:09', 1, 1),
(37, 168, 0, 3, 0, 0, 0, '2015-08-18 17:16:35', 1, '2015-08-18 17:16:35', 1, 1),
(38, 169, 0, 0, 0, 2, 1, '2015-08-21 19:11:44', 1, '2015-08-21 19:11:44', 1, 1),
(39, 170, 0, 0, 0, 0, 0, '2015-09-08 19:00:28', 1, '2015-09-08 19:00:28', 1, 1),
(40, 174, 0, 1, 0, 0, 0, '2015-09-22 18:00:55', 1, '2015-09-22 18:00:55', 1, 1),
(41, 175, 2, 0, 0, 3, 0, '2015-09-23 16:55:22', 1, '2015-09-23 16:55:22', 1, 1),
(42, 176, 0, 0, 0, 0, 0, '2015-09-25 17:29:05', 1, '2015-09-25 17:29:05', 1, 1),
(43, 178, 1, 0, 0, 0, 0, '2015-10-20 18:22:43', 1, '2015-10-20 18:22:43', 1, 1),
(44, 180, 0, 0, 0, 0, 0, '2015-11-11 18:22:20', 1, '2015-11-11 18:22:20', 1, 1),
(45, 181, 0, 2, 0, 2, 0, '2015-12-02 17:57:42', 1, '2015-12-02 17:57:42', 1, 1),
(46, 182, 0, 0, 0, 0, 0, '2015-12-09 18:01:40', 1, '2015-12-09 18:01:40', 1, 1),
(47, 184, 0, 3, 0, 0, 0, '2015-12-22 19:19:06', 1, '2015-12-22 19:19:06', 1, 1),
(48, 185, 1, 0, 0, 1, 1, '2016-01-12 19:09:16', 1, '2016-01-12 19:09:16', 1, 1),
(49, 188, 0, 0, 0, 1, 0, '2016-02-24 15:52:00', 1, '2016-03-02 18:17:33', 1, 1),
(50, 190, 2, 0, 0, 3, 0, '2016-03-29 18:59:43', 1, '2016-03-29 18:59:43', 1, 1),
(51, 192, 0, 0, 0, 1, 0, '2016-04-08 16:22:02', 1, '2016-04-08 16:22:02', 1, 1),
(52, 194, 0, 2, 0, 0, 2, '2016-05-06 18:25:53', 1, '2024-02-15 18:50:15', 1, 1),
(53, 195, 1, 0, 0, 0, 0, '2016-05-12 19:48:16', 1, '2017-06-28 18:57:53', 1, 1),
(54, 199, 0, 1, 0, 1, 0, '2016-06-08 19:45:18', 1, '2016-06-08 19:45:18', 1, 1),
(55, 117, 0, 1, 0, 0, 0, '2016-06-16 10:30:57', 1, '2016-06-16 10:30:57', 1, 1),
(56, 201, 0, 0, 0, 0, 0, '2016-06-30 11:37:17', 1, '2016-06-30 11:37:17', 1, 1),
(57, 205, 2, 0, 0, 0, 0, '2016-08-02 18:44:19', 1, '2016-11-09 19:06:46', 1, 1),
(58, 208, 0, 0, 0, 1, 0, '2016-08-10 18:03:15', 1, '2016-08-10 18:03:15', 1, 1),
(59, 209, 0, 1, 0, 0, 0, '2016-08-10 19:14:47', 1, '2016-08-10 19:14:47', 1, 1),
(60, 210, 0, 0, 0, 0, 0, '2016-08-10 20:01:01', 1, '2016-08-10 20:01:01', 1, 1),
(61, 211, 0, 0, 0, 0, 2, '2016-08-11 19:20:09', 1, '2016-08-11 19:20:09', 1, 1),
(62, 212, 0, 1, 0, 0, 1, '2016-08-26 17:47:25', 1, '2016-08-26 17:47:25', 1, 1),
(63, 214, 1, 0, 0, 0, 0, '2016-08-26 18:30:09', 1, '2016-08-26 18:30:09', 1, 1),
(64, 215, 1, 0, 0, 0, 0, '2016-08-27 11:04:37', 1, '2016-08-27 11:04:37', 1, 1),
(65, 216, 0, 0, 0, 0, 0, '2016-08-30 17:36:29', 1, '2016-08-30 17:36:29', 1, 1),
(66, 220, 0, 0, 0, 0, 0, '2016-08-31 19:16:05', 1, '2016-08-31 19:16:05', 1, 1),
(67, 213, 0, 0, 0, 0, 0, '2016-09-14 17:58:07', 1, '2016-09-14 17:58:07', 1, 1),
(68, 222, 2, 0, 0, 0, 0, '2016-09-14 19:20:58', 1, '2016-09-14 19:20:58', 1, 1),
(69, 224, 0, 0, 0, 0, 0, '2016-09-14 19:36:31', 1, '2016-09-14 19:36:31', 1, 1),
(70, 226, 0, 1, 0, 1, 0, '2016-10-06 20:32:18', 1, '2016-10-06 20:32:18', 1, 1),
(71, 228, 2, 0, 0, 6, 1, '2016-10-19 18:08:09', 1, '2016-10-19 18:08:09', 1, 1),
(72, 229, 0, 1, 0, 0, 0, '2016-10-19 18:59:49', 1, '2016-10-19 18:59:49', 1, 1),
(73, 231, 0, 0, 0, 1, 0, '2016-11-02 18:12:04', 1, '2016-11-02 18:12:04', 1, 1),
(74, 232, 0, 0, 0, 1, 0, '2016-11-10 19:34:55', 1, '2016-11-10 19:34:55', 1, 1),
(75, 235, 0, 1, 0, 1, 0, '2016-11-25 21:26:32', 1, '2016-11-25 21:26:32', 1, 1),
(76, 166, 0, 1, 0, 0, 0, '2016-11-30 18:54:28', 1, '2016-11-30 18:54:28', 1, 1),
(77, 238, 0, 1, 0, 0, 0, '2017-01-19 09:39:47', 1, '2017-01-19 09:39:47', 1, 1),
(78, 239, 0, 0, 0, 1, 0, '2017-01-25 17:20:26', 1, '2017-01-25 17:20:26', 1, 1),
(79, 240, 0, 0, 0, 1, 0, '2017-02-02 17:19:31', 1, '2017-02-02 17:19:31', 1, 1),
(80, 241, 1, 0, 0, 0, 1, '2017-02-08 16:10:57', 1, '2017-02-08 16:10:57', 1, 1),
(81, 242, 2, 0, 0, 0, 2, '2017-03-02 14:38:24', 1, '2017-03-02 14:38:24', 1, 1),
(82, 247, 1, 0, 0, 1, 0, '2017-03-10 19:05:04', 1, '2017-03-10 19:05:04', 1, 1),
(83, 248, 1, 0, 0, 0, 1, '2017-03-16 18:12:06', 1, '2017-03-16 18:12:06', 1, 1),
(84, 250, 0, 0, 0, 0, 0, '2017-04-06 17:13:45', 1, '2017-04-06 17:13:45', 1, 1),
(86, 251, 1, 0, 0, 2, 0, '2017-04-12 20:06:20', 1, '2017-04-12 20:06:20', 1, 1),
(87, 252, 3, 0, 0, 1, 0, '2017-04-19 17:46:55', 1, '2017-04-19 17:46:55', 1, 1),
(88, 255, 0, 1, 0, 0, 1, '2017-05-05 16:02:42', 1, '2017-05-05 16:02:42', 1, 1),
(89, 256, 0, 2, 0, 0, 0, '2017-05-19 18:12:17', 1, '2017-05-19 18:12:17', 1, 1),
(90, 257, 2, 0, 0, 0, 0, '2017-05-24 19:10:30', 1, '2017-05-24 19:10:30', 1, 1),
(91, 260, 0, 0, 0, 2, 2, '2017-06-21 18:29:53', 1, '2017-06-21 18:29:53', 1, 1),
(92, 263, 0, 2, 0, 1, 1, '2017-07-12 19:56:42', 1, '2017-07-12 19:57:11', 1, 1),
(93, 264, 0, 0, 0, 0, 2, '2017-07-13 11:26:26', 1, '2017-07-13 11:26:46', 1, 1),
(94, 267, 0, 0, 0, 0, 3, '2017-07-21 18:23:19', 1, '2017-07-21 18:23:19', 1, 1),
(95, 268, 0, 0, 0, 0, 0, '2017-07-21 19:37:48', 1, '2017-07-21 19:37:48', 1, 1),
(96, 271, 5, 0, 0, 1, 0, '2017-08-03 17:17:39', 1, '2017-08-03 17:17:39', 1, 1),
(97, 276, 0, 0, 0, 1, 1, '2017-08-17 16:54:17', 1, '2017-08-17 16:54:17', 1, 1),
(98, 277, 2, 0, 0, 0, 0, '2017-08-17 18:09:30', 1, '2017-08-17 18:09:30', 1, 1),
(99, 278, 1, 0, 0, 1, 0, '2017-08-23 19:37:20', 1, '2017-08-23 19:37:20', 1, 1),
(100, 270, 1, 0, 0, 0, 0, '2017-08-26 14:40:48', 1, '2017-08-26 14:40:48', 1, 1),
(101, 280, 2, 0, 0, 0, 0, '2017-08-31 17:53:24', 1, '2017-08-31 17:53:24', 1, 1),
(102, 282, 1, 0, 0, 0, 0, '2017-09-08 10:06:25', 1, '2017-09-08 10:06:25', 1, 1),
(103, 285, 0, 0, 0, 0, 0, '2017-09-13 18:00:54', 1, '2017-09-13 18:00:54', 1, 1),
(104, 286, 0, 0, 0, 0, 0, '2017-09-14 17:16:19', 1, '2017-09-14 17:16:19', 1, 1),
(105, 196, 1, 0, 0, 0, 0, '2017-10-11 16:13:40', 1, '2017-10-11 16:13:55', 1, 1),
(107, 292, 0, 2, 0, 0, 0, '2017-10-18 17:10:12', 1, '2022-06-07 17:45:17', 1, 1),
(108, 294, 2, 0, 0, 0, 0, '2017-10-18 19:24:31', 1, '2017-10-18 19:24:31', 1, 1),
(109, 295, 0, 0, 0, 1, 0, '2017-10-19 19:05:12', 1, '2017-10-19 19:05:12', 1, 1),
(110, 297, 0, 2, 0, 0, 2, '2017-10-25 10:31:58', 1, '2017-10-25 10:31:58', 1, 1),
(111, 298, 1, 0, 0, 0, 1, '2017-10-25 12:04:24', 1, '2017-10-25 12:04:24', 1, 1),
(112, 301, 2, 1, 0, 0, 0, '2017-10-25 19:41:23', 1, '2017-10-25 19:41:23', 1, 1),
(113, 303, 1, 1, 0, 0, 0, '2017-10-26 19:55:45', 1, '2021-01-12 17:29:05', 1, 1),
(114, 305, 0, 2, 0, 0, 0, '2017-10-27 16:28:17', 1, '2023-03-10 15:44:48', 1, 1),
(115, 306, 2, 0, 0, 0, 0, '2017-11-03 18:22:53', 1, '2017-11-03 18:22:53', 1, 1),
(116, 307, 2, 0, 0, 1, 1, '2017-11-14 11:45:45', 1, '2017-11-14 11:45:45', 1, 1),
(117, 308, 0, 1, 0, 0, 0, '2017-11-14 13:03:09', 1, '2017-11-14 13:03:09', 1, 1),
(118, 309, 0, 1, 0, 1, 0, '2017-11-14 14:07:02', 1, '2017-11-14 14:07:02', 1, 1),
(119, 243, 1, 0, 0, 1, 0, '2017-11-23 18:45:12', 1, '2022-02-17 18:23:34', 1, 1),
(120, 319, 2, 0, 0, 0, 0, '2017-12-21 18:28:54', 1, '2019-04-04 17:18:24', 1, 1),
(121, 321, 0, 0, 0, 0, 0, '2018-01-10 10:58:14', 1, '2018-01-10 10:58:14', 1, 1),
(122, 322, 0, 2, 0, 0, 0, '2018-01-10 20:02:56', 1, '2018-01-10 20:02:56', 1, 1),
(123, 324, 0, 1, 0, 0, 0, '2018-01-11 18:23:25', 1, '2018-01-11 18:23:25', 1, 1),
(124, 330, 0, 1, 0, 0, 0, '2018-02-13 09:33:31', 1, '2018-02-13 09:33:31', 1, 1),
(125, 335, 0, 1, 0, 1, 0, '2018-02-28 17:10:42', 1, '2018-02-28 17:10:42', 1, 1),
(126, 337, 1, 0, 0, 0, 0, '2018-02-28 20:24:41', 1, '2018-02-28 20:24:41', 1, 1),
(127, 338, 0, 0, 0, 1, 0, '2018-03-02 18:45:33', 1, '2018-03-02 18:45:33', 1, 1),
(128, 341, 0, 2, 0, 1, 1, '2018-03-21 18:04:00', 1, '2018-03-21 18:04:00', 1, 1),
(129, 342, 1, 0, 0, 2, 0, '2018-03-22 18:24:02', 1, '2018-03-22 18:24:02', 1, 1),
(130, 343, 0, 0, 0, 1, 0, '2018-03-29 18:15:07', 1, '2018-03-29 18:15:07', 1, 1),
(131, 347, 1, 0, 0, 1, 0, '2018-04-19 18:36:30', 1, '2018-04-19 18:36:30', 1, 1),
(132, 348, 0, 0, 0, 1, 0, '2018-04-25 18:21:04', 1, '2018-04-25 18:21:04', 1, 1),
(133, 350, 0, 3, 0, 0, 0, '2018-05-02 18:30:38', 1, '2018-05-02 18:30:38', 1, 1),
(134, 353, 0, 1, 0, 0, 1, '2018-05-10 17:48:25', 1, '2019-04-11 15:12:22', 1, 1),
(135, 354, 2, 0, 0, 1, 0, '2018-05-15 10:29:01', 1, '2018-05-15 10:29:01', 1, 1),
(136, 355, 0, 0, 0, 1, 1, '2018-05-17 18:38:20', 1, '2018-05-17 18:38:20', 1, 1),
(137, 356, 1, 0, 0, 3, 0, '2018-05-22 13:03:08', 1, '2018-05-22 13:03:23', 1, 1),
(138, 357, 2, 0, 0, 0, 0, '2018-05-24 18:37:07', 1, '2018-05-24 18:37:07', 1, 1),
(139, 358, 0, 0, 0, 1, 0, '2018-06-01 17:44:08', 1, '2018-06-01 17:44:08', 1, 1),
(140, 360, 0, 2, 0, 0, 0, '2018-06-13 18:11:51', 1, '2018-06-13 18:11:51', 1, 1),
(141, 362, 2, 0, 0, 0, 0, '2018-06-14 19:58:44', 1, '2018-06-14 19:58:44', 1, 1),
(142, 364, 0, 2, 0, 0, 0, '2018-06-27 16:34:07', 1, '2018-06-27 16:34:07', 1, 1),
(143, 104, 1, 0, 0, 0, 0, '2018-07-02 11:27:08', 1, '2018-07-02 11:27:08', 1, 1),
(144, 365, 2, 0, 0, 1, 1, '2018-07-12 18:27:25', 1, '2018-07-12 18:27:25', 1, 1),
(145, 366, 0, 0, 0, 1, 0, '2018-07-16 21:05:20', 1, '2018-07-16 21:05:20', 1, 1),
(146, 369, 0, 0, 0, 0, 1, '2018-07-26 19:04:54', 1, '2018-07-26 19:04:54', 1, 1),
(147, 370, 1, 1, 0, 0, 1, '2018-08-01 17:03:58', 1, '2018-08-01 17:03:58', 1, 1),
(148, 371, 2, 0, 0, 0, 2, '2018-08-07 10:33:18', 1, '2018-08-07 10:33:18', 1, 1),
(149, 372, 0, 3, 0, 0, 0, '2018-08-07 11:48:34', 1, '2018-08-07 11:48:34', 1, 1),
(150, 376, 0, 1, 0, 0, 0, '2018-08-09 17:43:30', 1, '2018-08-09 17:43:30', 1, 1),
(151, 378, 0, 1, 0, 0, 0, '2018-08-10 13:21:20', 1, '2018-08-10 13:21:20', 1, 1),
(152, 379, 2, 0, 0, 0, 0, '2018-08-10 13:28:36', 1, '2018-08-10 13:28:36', 1, 1),
(153, 380, 0, 2, 0, 0, 0, '2018-08-13 14:56:19', 1, '2018-08-13 14:56:19', 1, 1),
(154, 382, 2, 0, 0, 0, 0, '2018-08-13 21:51:19', 1, '2018-08-13 21:51:19', 1, 1),
(155, 386, 0, 0, 0, 0, 1, '2018-08-16 18:41:35', 1, '2018-08-16 18:41:35', 1, 1),
(156, 389, 0, 0, 0, 0, 0, '2018-08-23 18:16:40', 1, '2018-08-23 18:16:40', 1, 1),
(157, 207, 1, 0, 0, 0, 0, '2018-08-30 15:53:52', 1, '2018-08-30 15:53:52', 1, 1),
(158, 395, 2, 0, 0, 1, 0, '2018-09-06 18:12:40', 1, '2018-09-06 18:12:40', 1, 1),
(159, 396, 2, 0, 0, 0, 0, '2018-09-12 18:20:28', 1, '2018-09-12 18:20:28', 1, 1),
(160, 377, 2, 0, 0, 0, 0, '2018-09-14 16:46:10', 1, '2018-09-14 16:46:10', 1, 1),
(161, 400, 0, 1, 0, 0, 0, '2018-09-26 17:34:54', 1, '2018-09-26 17:34:54', 1, 1),
(162, 403, 0, 0, 0, 1, 0, '2018-10-24 19:32:39', 1, '2018-10-24 19:32:39', 1, 1),
(164, 406, 2, 0, 0, 0, 2, '2018-10-24 20:55:33', 1, '2018-10-24 20:55:33', 1, 1),
(165, 407, 0, 2, 0, 0, 1, '2018-11-01 17:57:38', 1, '2018-11-01 17:57:38', 1, 1),
(166, 408, 1, 0, 0, 0, 0, '2018-11-14 16:22:40', 1, '2018-11-14 16:22:40', 1, 1),
(167, 411, 0, 2, 0, 0, 0, '2018-12-04 20:19:09', 1, '2018-12-04 20:19:09', 1, 1),
(168, 413, 0, 0, 0, 0, 0, '2018-12-11 19:45:09', 1, '2018-12-11 19:45:09', 1, 1),
(169, 414, 1, 0, 0, 0, 0, '2018-12-11 20:56:01', 1, '2018-12-11 20:56:01', 1, 1),
(170, 417, 0, 0, 0, 1, 0, '2018-12-18 20:46:47', 1, '2018-12-18 20:46:47', 1, 1),
(171, 420, 0, 0, 0, 0, 8, '2018-12-27 10:05:08', 1, '2018-12-27 10:05:08', 1, 1),
(172, 422, 0, 0, 0, 1, 0, '2018-12-27 11:28:20', 1, '2018-12-27 11:28:20', 1, 1),
(173, 424, 1, 0, 0, 2, 1, '2018-12-27 17:42:06', 1, '2020-11-24 18:51:59', 1, 1),
(174, 425, 1, 0, 0, 0, 1, '2018-12-27 19:05:15', 1, '2021-09-22 10:59:45', 1, 1),
(175, 426, 1, 0, 0, 0, 0, '2018-12-27 20:17:36', 1, '2018-12-27 20:17:36', 1, 1),
(176, 427, 2, 0, 0, 0, 0, '2019-01-08 17:33:33', 1, '2023-06-06 18:33:13', 1, 1),
(177, 430, 0, 0, 0, 0, 0, '2019-01-10 19:40:24', 1, '2019-01-10 19:40:24', 1, 1),
(178, 431, 0, 1, 0, 0, 0, '2019-01-15 17:05:44', 1, '2019-01-15 17:05:44', 1, 1),
(179, 435, 1, 0, 0, 1, 0, '2019-01-26 17:20:36', 1, '2019-01-26 17:20:36', 1, 1),
(180, 441, 3, 0, 0, 0, 1, '2019-02-02 14:01:55', 1, '2019-02-02 14:01:55', 1, 1),
(181, 446, 1, 0, 0, 0, 0, '2019-02-12 13:39:42', 1, '2019-02-12 13:39:42', 1, 1),
(182, 451, 0, 2, 0, 0, 0, '2019-02-26 19:44:04', 1, '2019-02-26 19:44:04', 1, 1),
(183, 453, 0, 1, 0, 0, 0, '2019-02-26 20:59:43', 1, '2019-02-26 20:59:43', 1, 1),
(184, 457, 0, 0, 0, 0, 1, '2019-03-07 18:15:32', 1, '2019-03-07 18:15:32', 1, 1),
(185, 458, 0, 1, 0, 0, 0, '2019-03-07 18:54:22', 1, '2019-03-07 18:54:22', 1, 1),
(186, 450, 1, 0, 0, 0, 0, '2019-03-07 19:20:37', 1, '2019-03-07 19:20:37', 1, 1),
(187, 461, 0, 2, 0, 0, 0, '2019-03-12 18:10:44', 1, '2019-03-12 18:10:44', 1, 1),
(188, 466, 2, 0, 0, 0, 1, '2019-04-06 17:38:45', 1, '2019-04-06 17:38:45', 1, 1),
(189, 469, 0, 1, 0, 0, 1, '2019-04-16 20:26:20', 1, '2023-10-31 17:56:24', 1, 1),
(190, 473, 0, 0, 0, 1, 0, '2019-05-09 18:08:57', 1, '2019-05-09 18:08:57', 1, 1),
(191, 478, 3, 0, 0, 0, 0, '2019-05-16 19:54:47', 1, '2019-05-16 19:54:47', 1, 1),
(192, 481, 0, 1, 0, 0, 0, '2019-05-22 17:40:19', 1, '2019-05-22 17:40:19', 1, 1),
(193, 482, 0, 0, 0, 0, 1, '2019-05-23 17:10:15', 1, '2019-05-23 17:10:15', 1, 1),
(194, 484, 0, 2, 0, 0, 0, '2019-05-28 17:17:20', 1, '2019-05-28 17:17:20', 1, 1),
(195, 487, 2, 0, 0, 0, 0, '2019-05-30 17:44:06', 1, '2019-05-30 17:44:06', 1, 1),
(196, 488, 0, 0, 0, 2, 0, '2019-05-30 20:08:40', 1, '2019-05-30 20:08:40', 1, 1),
(197, 489, 0, 0, 0, 1, 0, '2019-06-04 17:05:46', 1, '2019-06-04 17:05:46', 1, 1),
(198, 490, 0, 0, 0, 0, 0, '2019-06-04 19:11:41', 1, '2019-06-04 19:11:41', 1, 1),
(199, 492, 0, 1, 0, 0, 0, '2019-06-11 18:59:01', 1, '2019-06-11 18:59:01', 1, 1),
(200, 493, 0, 1, 0, 1, 0, '2019-06-11 19:41:34', 1, '2019-06-11 19:41:34', 1, 1),
(201, 497, 0, 1, 0, 0, 1, '2019-06-18 19:15:48', 1, '2022-04-07 18:56:17', 1, 1),
(202, 499, 1, 0, 0, 0, 0, '2019-06-18 20:48:57', 1, '2019-06-18 20:48:57', 1, 1),
(203, 501, 0, 3, 0, 0, 0, '2019-06-19 18:50:06', 1, '2019-06-19 18:50:06', 1, 1),
(204, 514, 0, 2, 0, 0, 0, '2019-07-02 19:00:46', 1, '2019-07-02 19:00:46', 1, 1),
(205, 516, 2, 0, 0, 0, 1, '2019-07-09 18:49:07', 1, '2021-08-05 18:47:04', 1, 1),
(206, 520, 2, 0, 0, 0, 0, '2019-07-12 10:43:22', 1, '2019-07-12 10:43:23', 1, 1),
(207, 522, 0, 0, 0, 1, 0, '2019-07-12 17:05:26', 1, '2019-07-12 17:05:26', 1, 1),
(208, 523, 2, 0, 0, 0, 0, '2019-07-12 17:52:33', 1, '2019-07-12 17:52:33', 1, 1),
(209, 524, 2, 0, 0, 0, 0, '2019-07-12 18:33:31', 1, '2019-07-12 18:33:31', 1, 1),
(210, 525, 2, 0, 0, 0, 0, '2019-07-16 19:28:01', 1, '2019-07-16 19:28:01', 1, 1),
(211, 526, 0, 2, 0, 0, 0, '2019-07-18 16:18:15', 1, '2019-07-18 16:18:15', 1, 1),
(212, 529, 0, 0, 0, 1, 0, '2019-07-23 17:17:51', 1, '2019-07-23 17:17:51', 1, 1),
(213, 530, 1, 0, 0, 0, 0, '2019-07-27 12:42:35', 1, '2019-07-27 12:42:35', 1, 1),
(214, 532, 1, 0, 0, 0, 0, '2019-07-30 20:11:28', 1, '2019-07-30 20:11:28', 1, 1),
(215, 535, 0, 2, 0, 0, 0, '2019-08-06 18:53:26', 1, '2019-08-06 18:53:26', 1, 1),
(216, 537, 0, 2, 0, 0, 0, '2019-08-07 17:38:01', 1, '2019-08-07 17:38:01', 1, 1),
(217, 538, 0, 0, 0, 0, 0, '2019-08-07 18:22:20', 1, '2019-08-07 18:22:20', 1, 1),
(218, 540, 1, 0, 0, 0, 0, '2019-08-08 20:44:09', 1, '2019-08-08 20:44:09', 1, 1),
(219, 544, 0, 3, 0, 0, 0, '2019-08-14 17:26:43', 1, '2019-08-14 17:26:43', 1, 1),
(220, 545, 0, 1, 0, 0, 0, '2019-08-14 19:50:20', 1, '2019-08-14 19:50:20', 1, 1),
(221, 548, 2, 0, 0, 0, 0, '2019-08-21 15:34:08', 1, '2019-08-21 15:34:08', 1, 1),
(222, 549, 1, 0, 0, 0, 0, '2019-08-22 13:57:52', 1, '2019-08-22 13:57:52', 1, 1),
(223, 551, 0, 1, 0, 0, 0, '2019-08-22 20:13:09', 1, '2019-08-22 20:13:09', 1, 1),
(224, 553, 3, 0, 0, 0, 0, '2019-08-31 13:12:17', 1, '2019-08-31 13:12:17', 1, 1),
(225, 558, 2, 0, 0, 0, 0, '2019-09-12 18:59:18', 1, '2019-09-12 18:59:18', 1, 1),
(226, 562, 0, 1, 0, 0, 0, '2019-09-20 18:58:12', 1, '2019-09-20 18:58:12', 1, 1),
(227, 566, 0, 1, 0, 1, 0, '2019-09-26 20:27:27', 1, '2019-09-26 20:27:27', 1, 1),
(228, 567, 0, 1, 0, 0, 0, '2019-10-10 18:09:40', 1, '2019-10-10 18:09:40', 1, 1),
(229, 568, 1, 0, 0, 0, 0, '2019-10-10 19:06:36', 1, '2019-10-10 19:06:36', 1, 1),
(230, 570, 0, 0, 0, 1, 0, '2019-10-12 18:14:48', 1, '2019-10-12 18:14:48', 1, 1),
(231, 571, 0, 2, 0, 0, 0, '2019-10-15 17:12:22', 1, '2019-10-15 17:12:22', 1, 1),
(232, 574, 0, 0, 0, 1, 1, '2019-10-17 16:47:14', 1, '2019-10-17 16:47:14', 1, 1),
(233, 575, 2, 0, 0, 0, 0, '2019-10-17 19:49:45', 1, '2019-10-17 19:49:45', 1, 1),
(234, 581, 2, 1, 0, 0, 0, '2019-10-29 20:45:33', 1, '2019-10-29 20:45:33', 1, 1),
(235, 584, 1, 0, 0, 0, 0, '2019-11-05 17:36:27', 1, '2019-11-05 17:36:27', 1, 1),
(236, 587, 0, 1, 0, 0, 0, '2019-11-12 18:14:39', 1, '2019-11-12 18:14:39', 1, 1),
(237, 590, 2, 0, 0, 0, 0, '2019-11-19 18:10:32', 1, '2019-11-19 18:10:32', 1, 1),
(238, 592, 0, 2, 0, 0, 0, '2019-11-19 20:25:07', 1, '2024-04-04 18:57:23', 1, 1),
(239, 593, 0, 1, 0, 0, 0, '2019-11-20 18:54:08', 1, '2019-11-20 18:54:08', 1, 1),
(240, 597, 0, 2, 0, 1, 1, '2019-11-26 18:03:22', 1, '2019-11-26 18:03:22', 1, 1),
(241, 598, 0, 1, 0, 0, 0, '2019-11-28 18:59:41', 1, '2019-11-28 18:59:41', 1, 1),
(242, 602, 3, 0, 0, 0, 0, '2019-12-04 18:44:21', 1, '2019-12-04 18:44:21', 1, 1),
(243, 604, 3, 3, 0, 0, 0, '2019-12-05 17:10:34', 1, '2019-12-05 17:10:34', 1, 1),
(244, 606, 0, 1, 0, 0, 0, '2019-12-10 18:20:34', 1, '2019-12-10 18:20:34', 1, 1),
(245, 609, 0, 2, 0, 0, 0, '2019-12-14 17:53:05', 1, '2022-10-05 19:19:44', 1, 1),
(246, 621, 0, 1, 0, 0, 0, '2020-01-09 18:46:20', 1, '2020-01-09 18:46:20', 1, 1),
(247, 622, 2, 0, 0, 0, 0, '2020-01-11 18:12:54', 1, '2020-01-11 18:12:54', 1, 1),
(248, 625, 0, 1, 0, 1, 0, '2020-01-16 18:23:22', 1, '2022-02-10 19:24:08', 1, 1),
(249, 626, 2, 0, 0, 0, 0, '2020-01-16 19:46:54', 1, '2020-01-16 19:46:54', 1, 1),

In [14]:
fetch_records(target_tablename, db_path)

(1, 3, 1, 1, None, '2013-11-21 18:05:33', 1, 2, 0, 0, 0, 0)
(5, 66, 1, 1, '2014-02-27 01:50:24', '2014-02-27 01:50:39', 1, 2, 0, 0, 3, 0)
(6, 85, 1, 1, '2014-05-05 14:51:40', '2014-05-05 14:51:40', 1, 3, 0, 0, 0, 0)
(7, 90, 1, 1, '2014-06-16 14:24:00', '2014-06-16 14:24:00', 1, 0, 0, 0, 0, 0)
(8, 92, 1, 1, '2014-06-16 16:56:40', '2014-06-16 16:56:40', 1, 2, 0, 0, 0, 1)

## tblobstetrichistory_x NOT TO BE MIGRATED

### Migrate Short Pregnancies History data (INSERT)

In [16]:
source_tablename = 'tblpregnancyhistory'
target_tablename = 'pregnancy_history'
data_index = 16 # this is the index in the json_data list where the relevant data is stored

sql_output = convert_json_to_insert_sql(json_data[data_index]['data'], column_mapping[source_tablename], target_tablename = target_tablename)
# print(sql_output)
output_file = os.path.join(assets_dir, f'{target_tablename}.sql')
with open(output_file, 'w', encoding='utf-8') as f:
    f.write(sql_output)

In [21]:
insert_records(target_tablename, db_path)

Executing statement: INSERT INTO pregnancy_history (id, patient_id, ter, alcohol, smoking, amniocentesis, medication, other, diabetes, hypertension, urine_albumin, bleeding, blood_type, rhesus, hemoglobinopathies_bth, hemoglobinopathies_bs, vaginal_fluid_cultivation, mycoplasma_ureaplasma, chlamydia, herpes_hsv, hiv_12, syphilis_vdlr, hepatitis_b_bhsag, aids_hiv, red_cells, toxoplasma, cytomegalovirus_cmv, listeria, hcv, created_on, created_by, last_updated_on, last_updated_by, is_active)
VALUES
(1, 3, '1979-08-06', ' nai', '', '', '   vgs', ' ', '', '', '', '', ' ?', '', '  ', '    ', ' ', '', '', '', '', '', '', '', '', '', '', '', '', '2013-11-09 00:00:00', 1, '2013-12-01 21:25:31', 1, 1),
(4, 3, '1976-11-18', ' ', ' ', '', '    ', '   ', ' ', '   ', '', ' ,    ', '', '', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '2013-11-26 00:00:00', 1, '2013-11-30 23:05:01', 1, 1),
(5, 3, '2013-08-16', null, null, null, '                                         ', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, 1, '2014-02-22 17:32:38', 1, 1),
(9, 3, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2013-12-01 11:49:19', 1, '2013-12-01 11:49:56', 1, 0),
(10, 3, '2013-10-14', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2013-12-01 13:50:31', 1, '2013-12-01 13:52:48', 1, 0),
(13, 59, '2013-10-14', '', '', null, '  tab Gynotardyferon 1*1  tab Calcioral D3', null, null, null, null, null, 'B', '', ',   ', '', null, null, null, ' ', '', '', '', null, 'IgG , IgM ', 'IgG , IgM ', 'IgG , IgM ', null, null, '2013-12-02 16:28:30', 1, '2014-02-04 14:42:59', 1, 1),
(14, 3, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2014-02-08 12:22:55', 1, '2014-02-08 12:23:11', 1, 0),
(15, 85, '2014-03-18', null, '10 ', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2014-05-05 14:51:46', 1, '2014-05-05 14:52:31', 1, 1),
(16, 90, '2014-04-12', '', '3   ', null, null, null, '  ', null, null, null, '', '', null, '  ', null, null, null, null, '', ' RPR   ', '', null, '  IgG    IgM', '   IgG   IgM', '  IgG    IgM', null, '', '2014-06-16 14:24:03', 1, '2014-06-30 13:37:17', 1, 1),
(17, 107, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2014-10-08 18:10:53', 1, '2014-10-08 18:10:53', 1, 1),
(18, 112, '2014-08-18', null, null, null, '1)Utrogestan STOP

2)1000mg Ca

3)tab Filicine 5mg

4) STOP          pre natal care

5) tab Tardyferon 1*1  27 ', null, null, null, null, null, 'O', ' ', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2014-10-16 16:24:29', 1, '2015-01-28 15:09:32', 1, 1),
(19, 116, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2014-11-06 18:04:26', 1, '2014-11-06 18:04:26', 1, 1),
(20, 116, '2014-09-19', '', '', null, '1) tab Filicine 5mg 1*1.    .        24-25

2) caps Utrogestan 100mg 1*2    12

3) ef tab Mega Calcium 1*1.     ,    Hct.     4) Clexane 0.4*1   8  5) tab Tardyferon 1*1  8  2015 6) tab Trofocard 1*2  27 ', null, null, null, null, null, '', '', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2014-11-06 20:20:17', 1, '2015-02-26 20:31:44', 1, 1),
(21, 117, '2014-07-01', null, '4   ', null, '1) tab Tardyferon 1*3

2) chw tab Calcioral 1*1

3) tab Trofocard 1*3

4) tab Utrogestan 2*3      ', null, null, null, null, null, '', '', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2014-11-11 16:34:43', 1, '2014-11-11 16:37:21', 1, 1),
(22, 121, '2014-10-20', null, null, null, '1) ef tab Mega Calcium

2) tab Filicine 5mg

3) tab Tardyferon 1*1.   1*2  10 ', null, null, null, null, null, '0', '', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2014-12-04 16:12:49', 1, '2015-06-09 16:57:14', 1, 1),
(23, 122, '2014-10-18', null, '', null, '1) caps Utrogestan 100mg 1*2    12  2) tab Filicine 5mg 1*1    25-26  3) tab Tardyferon 1*1

4) chw tab Calcioral D3 1*1

5) tab Trofocard  29         6)      ef tab Mega Calcium', null, null, null, null, null, '', '', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2014-12-10 20:28:00', 1, '2015-01-28 19:01:38', 1, 1),
(24, 123, '2014-05-18', null, null, null, '1) Laprazol       12

2) ,   ', null, null, null, null, '-       \''   \''    ', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2014-12-11 15:38:38', 1, '2014-12-11 15:45:10', 1, 1),
(25, 126, '2014-10-13', '', '', null, '1) tab Folidex 1*1           25-26 .       2) caps Utrogestan 100mg 1*1    12  3) ef tab Mega Calcium 1*1

4)  amp Legofer 1*2    (    )  .       *3', ':                  39 ,    .    !!!!', null, null, null, null, '0', '', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2014-12-16 17:29:57', 1, '2015-04-16 18:52:07', 1, 1),
(26, 129, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2015-01-13 17:11:29', 1, '2015-01-13 17:11:29', 1, 1),
(27, 130, '2014-05-21', null, null, null, ', ,     ', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2015-01-20 16:03:35', 1, '2015-01-20 17:37:52', 1, 1),
(28, 131, '2014-12-16', null, null, null, null, null, null, null, null, null, null, 'SOS Rhesus !!!!!!!!!!!!!!!!!!!', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2015-01-20 17:57:06', 1, '2015-01-20 18:18:36', 1, 1),
(29, 133, '2014-12-20', null, null, null, '1) caps Utrogestan 100mg 1*2      2) ef tab Mega Calcium 3) tab Filicine   24-25 ', null, null, null, null, null, ' ', '', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2015-02-04 17:27:52', 1, '2015-02-12 19:26:57', 1, 1),
(30, 134, '2014-08-05', '', '', '', '1) tab Filicine 1*1,       26  2) tab Pregnacare 1*1 3) tab Trofocard 1*2   12  2015', null, null, null, null, null, '0 ', '', '', '', null, null, null, null, null, null, null, null, null, null, null, null, null, '2015-02-04 18:17:55', 1, '2015-02-11 18:56:15', 1, 1),
(31, 140, '2015-01-22', null, null, null, '1) tab Filicine 5mg     24-25  2) chw tab Calcioral D3 1*1     3) caps Utrogestan 100mg 1*2 per os    12 .              15   4)  tab Tardyferon 1*1   .     .  16  2015   1*2

5) tab Trofocard 1*2  30 .   1*3  5 ', null, null, null, null, null, '0 ', '', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2015-03-11 15:58:32', 1, '2015-08-05 17:49:28', 1, 1),
(32, 151, '2015-02-23', null, null, null, '1) tab Filicine 5mg 1*1   25-26 .    13  2015 2)chw tab Calcioral D3 1*1.      ef tab Mega Calcium 3)caps Utrogestan 100mg 1*2 per os.    14  4) tab Tardyferon 1*1  2  2015  1*2  24  2015 5) tab Trofocard 1*3', null, null, null, null, null, 'A ', '', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2015-04-23 16:58:06', 1, '2015-09-11 18:02:30', 1, 1),
(33, 166, '2014-10-23', null, null, null, null, null, null, null, null, null, null, '', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2015-07-08 16:04:39', 1, '2016-12-13 08:47:49', 1, 0),
(34, 169, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2015-08-21 19:11:18', 1, '2015-08-21 19:11:29', 1, 1),
(35, 174, '2015-06-20', null, '', null, '1) tab Filicine 5mg. To       2) chw tab Calcioral D3       13+3      ', null, null, null, null, null, null, '!!!!!!!', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2015-09-22 18:00:58', 1, '2015-09-22 19:40:34', 1, 1),
(36, 147, '2015-11-02', null, null, null, '1) tab Filicine 5mg 1*1    24-25  2) chw tab Calcioral D3 1*1 3) caps Utrogestan 200mg1*2    12 .              14  4)  Seropram     5)  Tardyferon 1*1  8  6) 11         Pregnacare  ,      7)  3      Tardyferon      Pregnacare   21     Tardyferon    ', null, null, null, null, null, '', '', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2015-12-15 16:24:40', 1, '2016-05-21 16:44:04', 1, 1),
(37, 160, '2015-10-30', null, 'NAI', null, '1) tab Filicine 5mg.            24-25 .    15  2) ef tab Mega Calcium 3) tab Utrogestan 100mg 1*2.     4)     Tardyferon 1*1

5)  11  2016   Trofocard 1*2     .  ,     1*3', null, null, null, null, null, '', '', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2015-12-23 20:19:09', 1, '2016-04-14 19:31:28', 1, 1),
(38, 104, '2015-12-17', null, null, null, '1) tab Filicine 1*1   24-25 ,     ,        2) caps Utrogestan 100mg 1*2     .    18  2016 3) chw tab Calcioral D3 1*1 4)  Tardyferon 1*1  12 .    Ferosanol 1*1  26  5)  Mag2 1*1  12             1*2     ', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2016-01-26 18:43:38', 1, '2016-06-10 18:57:52', 1, 1),
(39, 196, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2016-05-17 19:36:37', 1, '2016-05-17 19:36:37', 1, 1),
(40, 196, '2015-08-17', null, null, null, null, null, null, null, null, null, '', '', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2016-05-17 19:36:52', 1, '2016-05-17 20:36:01', 1, 1),
(41, 195, '2016-05-23', null, null, null, '1) chw tab Calcioral D3.    ef tab Mega Calcium 2) tab Filicine 5mg 1*1 3) caps Utrogestan 200mg 1*1 4) Euthyrox 25 1*1

5)  16      Pregnacare plus 1*1', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2016-06-28 16:44:17', 1, '2016-09-13 20:20:13', 1, 1),
(42, 206, '2016-06-26', null, null, null, '1) tab Filicine 5mg 1*1       24     ,       2) caps Utrogestan 100mg 1*2       12 .  1       STOP 3) chw tab Calcioral D3 1*1.    16   ef tab Mega Calcium,    ', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2016-08-03 19:06:35', 1, '2016-08-16 19:01:28', 1, 1),
(43, 207, '2016-06-25', null, '', null, '1) tab Filicine 1*1         \'' .    23  2016 2) chw tab Calcioral D3 1*1 3) caps Utrogestan 100mg 1*2       .  1        STOP. To    4  2016

4)   19    tab Trofocard 1*2          .  6    1*3', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2016-08-09 18:38:51', 1, '2016-12-22 20:53:12', 1, 1),
(44, 208, '2016-06-15', null, 'NAI!!!!! 4-5       !!!!!!!!!!!!!!!!', null, '1) caps Utrogestan 200mg 1*1  ( ).         STOP 2) tab Pregnacare 1*1', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2016-08-10 18:03:20', 1, '2016-08-10 19:05:44', 1, 1),
(45, 209, '2016-06-24', null, null, null, '1) caps Utrogestan 100mg 1*2    13  2) tab Tardyferon 1*2     ,    3) tab Filicine 5mg 1*1', null, null, null, null, null, null, '', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2016-08-10 19:20:36', 1, '2016-08-24 19:14:02', 1, 1),
(46, 211, '2016-07-01', null, null, null, '1) tab Glucophage 1000mg 1/2*3 2) T4 50g 1*1 3) tab Feofol 1*1 4) tab Salospir 80mg 1*1 5) Clexane 0.4 1*1 6) caps Utrogestan 200mg 1*1 ', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2016-08-11 19:20:11', 1, '2016-08-11 20:49:06', 1, 1),
(47, 212, '2016-06-26', null, null, null, null, null, null, null, null, null, null, '', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2016-08-16 22:17:17', 1, '2016-08-16 22:18:00', 1, 1),
(48, 214, '2016-07-02', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2016-08-26 18:30:13', 1, '2016-08-26 18:30:26', 1, 1),
(49, 215, '2015-11-17', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2016-08-27 11:04:39', 1, '2016-08-27 11:05:05', 1, 1),
(50, 220, '2016-07-16', null, null, null, '1) tab Filicine 5mg 1*1 2) caps Utrogestan 200mg 1*1', null, null, null, null, null, '', '', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2016-08-31 19:16:08', 1, '2016-09-22 18:27:21', 1, 1),
(51, 226, '2016-03-27', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2016-10-06 20:32:24', 1, '2016-10-06 20:32:37', 1, 1),
(52, 227, '2016-08-28', null, null, null, '1)  tab Filicine 5mg 1*1       24-25 .      ,

2) caps Utrogestan 200mg 1*1          .   3) tab Tardyferon 1*1  17  2017 4) chw tab Calcioral D3 1*1  26  4) tab Trofocard 1*3    23 ,   ', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2016-10-07 18:11:47', 1, '2017-02-02 13:52:07', 1, 1),
(53, 232, '2016-09-18', null, null, null, '1) tab Folidex 400mcg 1*1.    17 ,    \\\\\\\\\\\\\\\''  2)caps Utrogestan 200mg 1*1.      3) chw tab Calcioral D3 1*1 4) tab Tardyferon 1*1   9  2017.      Ferro Sanol,     ', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2016-11-10 20:15:07', 1, '2017-04-12 19:11:32', 1, 1),
(54, 166, '2016-10-29', null, null, null, '1) tab Filicine 5mg 1*1          \\\\\\\''  2) caps Utrogestan 200mg 1*2              3) tab Natecal D           4) Solu Mag    ,          ', null, null, null, null, null, '0', '', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2016-12-13 08:47:53', 1, '2017-01-18 21:57:43', 1, 1),
(55, 225, '2016-12-14', null, null, null, '1) tab Filicine 5mg 1*1      \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''  2) chw tab Calcioral D3 1*1 3) caps Utrogestan 200mg 1*1           4) tab Trofocard 1*3  23 ,     5)  tab Tardyferon 1*1', null, null, null, null, null, '', '', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2017-01-18 19:21:55', 1, '2017-06-28 20:10:46', 1, 1),
(56, 238, '2016-10-14', null, null, null, '1) tab Filicine 5mg 1*1 2) caps Utrogestan 200mg 1*3 per os      3) vag gel Vasclor 1*1        4) inj sol Clexane 0.4 1*1 sc   20

5) ef tab Mega Calcium 1*1 6) tab Tardyferon 1*1  15 ', null, null, null, null, null, null, '', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2017-01-19 09:40:04', 1, '2017-03-15 17:21:44', 1, 1),
(57, 220, '2016-12-30', null, null, null, '1) tab Filicine 5mg 1*1 2) caps Utrogestan 200mg 1*1.   ,    ', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2017-01-31 18:32:02', 1, '2017-03-28 19:33:49', 1, 1),
(58, 241, '2016-12-23', null, null, null, '1) tab Filicine 5mg 1*1       2)chw tab Calcioral D3 1*1', null, null, null, null, null, '', ' ', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2017-02-08 16:11:00', 1, '2017-02-08 17:03:44', 1, 1),
(59, 243, '2017-01-29', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2017-03-02 15:54:31', 1, '2017-03-02 15:54:44', 1, 1),
(60, 91, '2017-01-17', null, null, null, '1) tab Filicine 1*1 2) caps Utrogestan 200mg 1*1 3) tab Tardyferon 1*1  7  4) chw tab Calcioral D3  7 ', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2017-03-08 18:45:21', 1, '2017-04-06 18:57:22', 1, 1),
(61, 246, '2016-11-03', null, null, null, '1)tab Trofocard 1*3 2) chw tab Hemafer fol 1*2.    26         Tardyferon   3) chw tab Calcioral D3 1*1 4) caps Utrogestan 200mg 1*2,       18 ', null, null, null, null, null, '', '', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2017-03-09 20:42:56', 1, '2017-05-27 14:33:47', 1, 1),
(62, 194, '2017-02-01', null, null, null, '1) tab Utrogestan 200mg 1*1 2) tab Filicine 5mg 1*1 3) tab Salospir 80mg 1*1', null, null, null, null, null, '', '', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2017-03-16 19:13:12', 1, '2017-03-16 19:53:28', 1, 1),
(63, 250, '2017-03-02', null, null, null, '1) tab Folidex 1*1 2) tab Utrogestan 200mg 1*1.  Utrogestan    .   1*2    15    .       ,  1*1      ,     .   ', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2017-04-06 17:14:14', 1, '2017-05-30 08:17:41', 1, 1),
(64, 254, '2017-03-01', null, null, null, '1) tab Filicine 1*1 2) caps Utrogestan 200mg 1*1       3)  tab Tardyferon 1*1   20   1*2  4 ', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2017-05-03 18:29:41', 1, '2017-10-04 19:52:51', 1, 1),
(65, 258, '2017-04-26', null, null, null, '1) tab Filicine 5mg 1*1.    28  2) caps Utrogestan 200mg 1*1 3) chw tab Calcioral D3 1*1 4) tab Tardyferon 1*1 5) tab Trofocard 1*3  27 ', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2017-06-07 18:21:30', 1, '2017-09-27 15:43:58', 1, 1),
(66, 260, '2017-04-20', null, null, null, '1)     Euthyrox   2) 200mg   * 3', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2017-06-21 18:31:47', 1, '2017-06-21 19:16:50', 1, 1),
(67, 261, '2017-03-19', null, null, null, '1) tab Filicine 1*1 2) tab Tardyferon 1*1

3)        Pregnacare', null, null, null, null, null, '', '', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2017-06-28 14:01:48', 1, '2017-07-28 18:48:35', 1, 1),
(68, 267, '2017-05-19', null, null, null, '1) tab Filicine 5mg 1*1.         2) caps Utrogestan 200mg *3 3) amp Lentogest 1     12  4) tab Tardyferon 1*1  8  5) tab Trofocard 1*3    6) chw tab Calcioral D3 1*1  5 ', null, null, null, null, null, '0 ', '', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2017-07-21 18:23:23', 1, '2018-02-14 11:44:03', 1, 1),
(69, 274, '2016-01-12', null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, '2017-08-16 14:30:51', 1, '2017-08-16 14:31:38', 1, 1),

In [22]:
fetch_records(target_tablename, db_path)

(1, 3, 1, 1, '2013-11-09 00:00:00', '2013-12-01 21:25:31', '1979-08-06', ' nai', '', '', '   vgs', ' ', '', '', '', '', ' ?', '', '  ', '    ', ' ', '', '', '', '', '', '', '', '', '', '', '', '', 1)
(4, 3, 1, 1, '2013-11-26 00:00:00', '2013-11-30 23:05:01', '1976-11-18', ' ', ' ', '', '    ', '   ', ' ', '   ', '', ' ,    ', '', '', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', 1)
(5, 3, 1, 1, None, '2014-02-22 17:32:38', '2013-08-16', None, None, None, '                                         ', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1)
(9, 3, 1, 1, '2013-12-01 11:49:19', '2013-12-01 11:49:56', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 0)
(10, 3, 1, 1, '2013-12-01 13:50:31', '2013-12-01 13:52:48', '2013-10-14', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 0)

### Migrate Short Pregnancies History X data (INSERT)

In [23]:
source_tablename = 'tblpregnancyhistory_x'
target_tablename = 'pregnancy_history_x'
data_index = 17 # this is the index in the json_data list where the relevant data is stored

sql_output = convert_json_to_insert_sql(json_data[data_index]['data'], column_mapping[source_tablename], target_tablename = target_tablename)
# print(sql_output)
output_file = os.path.join(assets_dir, f'{target_tablename}.sql')
with open(output_file, 'w', encoding='utf-8') as f:
    f.write(sql_output)

In [27]:
insert_records(target_tablename, db_path)
# fetch_records(target_tablename, db_path)
# delete_records(target_tablename, db_path)

Executing statement: INSERT INTO pregnancy_history_x (id, pregnancy_id, date_of_visit, cause_of_visit, tokos, pregnancy_age, height, weight_begin, weight_current, weight_change, presentation, fetal_heart, amniotic_sac, contractions, cervical_dilation, cervical_effacement, arterial_pressure, temperature, sumphysial_fundal_height_sfh, comments, created_on, created_by, last_updated_on, last_updated_by, is_active)
VALUES
(1, 1, '2013-11-01', ' ', 1, '', '1', '2', '3', '4', '   ', ' ', ' ', ' ', ' ', ' ', ' ', '36', '12', null, '2013-11-27 00:00:00', 1, '2013-11-27 00:00:00', 1, 1),
(2, 4, '2013-11-01', ' ', 1, '', '1', '2', '3', '1', '   ', ' ', ' ', ' ', ' ', ' ', ' .    text     ', '36', '12', null, '2013-11-27 00:00:00', 1, '2014-01-20 02:07:47', 1, 1),
(3, 1, '1997-01-01', ' ', 1, '', '1', '2', '3', '1', '   ', ' ', ' ', ' ', ' ', ' ', ' ', '36', '12', null, '2013-11-27 00:00:00', 1, '2013-12-02 21:21:26', 1, 1),
(4, 1, '2013-11-27', ' ', 1, '', '1', '2', '3', '4', '   ', ' ', ' ', ' ', ' ', ' ', ' ', '36', '12', null, '2013-11-27 00:00:00', 1, '2013-11-27 00:00:00', 1, 1),
(5, 5, '2013-11-28', '-', 2, '14+6(wbd)', '1', '4', '10', '6', '-', '-', '-', '-', '-', '-', '-', '6', '1', 'ffgdf', '2013-12-02 00:48:58', 1, '2022-12-19 21:51:15', 1, 1),
(12, 13, null, null, 0, null, '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', null, '2013-12-02 21:15:11', 1, '2013-12-15 19:08:53', 1, 0),
(13, 4, '2013-12-15', 'Apple Store', 0, null, '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', null, '2013-12-15 19:09:45', 1, '2014-01-20 02:05:31', 1, 1),
(14, 13, '2013-12-10', ' ', 1, null, '0', '0', '0', '0', null, ' +', null, null, null, null, null, '0', '0', null, '2014-02-04 14:43:02', 1, '2014-02-04 14:45:22', 1, 1),
(15, 5, null, null, 0, null, '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', null, '2014-02-08 12:23:45', 1, '2014-02-08 12:26:20', 1, 0),
(16, 5, '2014-02-11', null, 0, '-105071+4(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', null, '2014-02-22 17:55:36', 1, '2014-02-22 17:55:58', 1, 1),
(17, 5, '2014-02-18', null, 0, '26+4(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', 'Dear Professor Bhatia,



I am writing to you regarding a patient you saw about six weeks ago, my mother Fani Vassiliadou. You had mentioned back then that according to her symptoms she might be having DLB. I am not sure if that is still your final conclusion or what the next steps are in terms of treatment options, as I have not yet received the medical report.

Can you please let me know if you have already sent it and this is just a case of the mail getting lost? Otherwise do you have an estimate on when we can expect the final report? The reason I am asking is because my mothers condition has deteriorated dramatically over the course of the last month.

She currently spends most of the day in bed suffering from what she is calling anxiety and stress. She is also very much confused and doesnt even want to talk to other people. Her condition improves after getting her medication (i.e. dopamine) but the effect only lasts for a couple of hours during which she is still not 100%.



I am repeating my contact details in case there is a problem



Mobile:07429443581

Email: zdetor54@gmail.com

Address: 104 St Georges Road, Basement Flat, SE1 6EU, London



Kind Regards,



Zac

', '2014-02-22 18:44:03', 1, '2015-07-13 18:58:01', 1, 0),
(18, 4, '2014-02-22', null, 0, null, '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', null, '2014-02-22 18:46:29', 1, '2014-02-22 18:46:38', 1, 0),
(19, 5, '2014-02-20', null, 0, '27+2(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', null, '2014-02-23 16:32:18', 1, '2014-02-23 16:32:39', 1, 0),
(20, 13, '2014-02-24', null, 0, null, '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', null, '2014-02-24 18:06:13', 1, '2014-02-24 18:06:13', 1, 1),
(21, 16, '2014-06-16', '    ', 0, '9+2(wbd)', '169', '91', '93', '2', null, ' +', null, null, null, null, null, '0', '0', '-       ,              .   ,           ,

-  Calcioral 1*1

-  tab Tardyferon 1*1  21 ,

- Filicine   7   (      )         24

-         (   ,     , IUGR,   )

-

-            1000    ,      .

-         ,  :

-   6 weeks         ,    , ,   .      24.

-:     )   12 weeks, 7

                 )  U/S    16 .            .          ,

                 )      ,  20-21

                 )    22

                 ) doppler   32-34   SOS   36

                 )   28    4  ( ,   ): AC   , AFI

                  )   28       ,    ,

                  )    :    39

                  )  EFW   4000gr    :  ,     12mg,      2

-      ,              ,              .        600  (        ),          1000

-     (19/6/2014):  Coombs ,  6,8%,    (45    55)    Tardyferon.         .       :     (     )        ,

-          ,      .             redating.



', '2014-06-16 14:25:33', 1, '2014-09-09 17:59:38', 1, 1),
(22, 18, '2014-10-16', '     ', 1, '8+3(wbd)', '0', '0', '0', '0', null, '', null, null, null, null, null, '0', '0', '-: 25/5/2015

-  :  ,  +, AUA: 8+4 weeks

-      2014:   .    .

-       Cytogenomics.    enterococcus spp.     ,   .

-        template ,            : 0 Rhesus

-

-         CVS     . Down   11  2014.       .

-      : 1) ef tab Mega Calcium 1*1     2) tab Filicine 5mg 1*1 (      26 ) 3)   .            (tab Tardyferon) 4) caps Utrogestan 200mg 1*2

-    50     ,         (     )

-SOS:      .           800-1000   100    ,

-     CVS         ,

-   (20  2014):        (36,8)  12,1      .       ,      .   .  Coombs .   . , , ,  ,    . VDRL . Toxoplasma:    IgG   IgM. sAg . anti-HCV . V I,II . CMV: IgG   IgM . : IgG   IgM . TSH .   .

', '2014-10-19 14:14:48', 1, '2014-12-03 14:19:10', 1, 1),
(23, 19, '2014-11-06', null, 0, null, '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', null, '2014-11-06 18:34:52', 1, '2014-11-06 18:34:52', 1, 1),
(24, 20, '2014-11-06', '1     ', 0, '6+6(wbd)', '0', '0', '0', '0', null, ' ', null, null, null, null, null, '0', '0', '-   :  , GS  CRL   .          ,      .

-            ,    .

-         1300   50     (    ).           1700 .      :        .         (  ,       ),

-    Clexane 20*2

-      ( )     ( )

-

-            (   ).        Rhesus,     .    ,

-                        Clexane

-   ,       15  12:00  ,           .        PAPP-A (8-9 )   12      ,

-     ,

-  :1)     Coombs, ,     3    2)               ,   GS  CRL  FHR         3)

', '2014-11-06 20:22:52', 1, '2015-01-30 18:20:46', 1, 1),
(25, 21, '2014-11-11', '  ', 0, '19+0(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', '-,  .         ,            .          50    .         .   ,    900   100    ,

-              (   ).       ,  ,

-       .     73     . : 120/70mm Hg

-    \''      28

-

-   50  ', '2014-11-11 16:37:25', 1, '2014-11-11 16:42:36', 1, 1),
(26, 20, '2014-11-14', '', 0, '8+0(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', '-          :   ,  Coombs ,  Rhesus ,   5,1 (     24-28 ).      ,

-        .   CRL    .       ,  ,         mail,

-      mommy,

-    15       .        ,

-              .      (17 )                   .                   ,      ,            ,    .       Clexane 0.4*1   0,2*2     ,      .    ,      anti-Xa        /         .            .             ,

-      ,    ,         .

-   Clexane 0.4*1', '2014-11-14 17:51:55', 1, '2014-11-18 10:56:29', 1, 1),
(27, 21, '2014-12-03', null, 0, '22+1(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', '-: 121-75mmHg

-: 76

-

-   ,  , HBsAg, Toxoplasma, CMV

-

-  50    ', '2014-12-03 16:25:48', 1, '2014-12-03 17:12:34', 1, 1),
(28, 18, '2014-12-03', null, 0, '15+2(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', '-   :    +,

-

-: 66

-  Utrogestan

-     ,   ,

-               !!!!!', '2014-12-03 17:17:47', 1, '2014-12-03 19:31:10', 1, 1),
(29, 22, '2014-12-04', null, 0, '6+3(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', '-    .      .              .

- !!!!!!!!!!!!!!!!!!!!!!!!!!

- :  , , AUA:6+6 weeks

-    ,     Rhesus   ,

-  50 .       .         .     800   100

-       14  (  12+2),  9:45.        9:30       ', '2014-12-04 17:07:36', 1, '2014-12-09 14:42:09', 1, 1),
(30, 23, '2014-12-10', null, 0, '7+4(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', '-

-

-   : Filicine, Calcioral D3, Utrogestan

-   ,     ,      5-15

-             .           .

-       .     1300   50    .       1300

-            ', '2014-12-10 20:29:11', 1, '2014-12-10 21:08:20', 1, 1),
(31, 23, '2014-12-10', null, 0, null, '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', null, '2014-12-10 21:06:57', 1, '2014-12-17 20:47:38', 1, 0),
(32, 24, '2014-12-11', '      ', 0, '29+4(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', '-      .     ,  .     ,     400-500  ,    .    .         .

-         .

-9       doppler        .               (    )   .

-   ,

-       130/70.            ,      ', '2014-12-11 15:38:56', 1, '2015-01-13 14:19:51', 1, 1),
(33, 25, '2014-12-16', ' ', 0, '9+1(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', '-      ,         .   .

-:

-Hct 35,0, HGB 12.6, WBC 7.200, PLT 227.000

-CMV IgG   IgM , Toxoplasma IgG negative IgM negative, HBsAg negative, anti HCV negative, anti HIV 1,2 negative

-, , , ,   TSH

- :

- :

-    , VDRL,  Coombs     . VDRL   Coombs     .

-         .     13  2015                 26

-SUPER SOS:        ,                  .    ', '2014-12-16 17:31:15', 1, '2015-01-13 15:06:24', 1, 1),
(34, 21, '2014-12-16', null, 0, '24+0(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', '-     :  .     (30,8)  10,5         Tardyferon

- :

-HBsAg negative, CMV negative   IgM   IgG, Toxoplasma negative gG and IgM

-: 126/75 mmHg

-B: 77,4

- ,

-

-

', '2014-12-16 19:28:54', 1, '2014-12-16 20:58:20', 1, 1),
(35, 20, '2014-12-15', '   ', 1, '12+3(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', '-        .      .

-

-       ', '2014-12-17 17:35:18', 1, '2015-01-30 18:01:59', 1, 1),
(36, 18, '2014-12-17', ' ', 0, '17+2(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', '- .

-   : Hct 34.0, HGB 11.1, WBC 8.300, PLT 217.000, Fe 134

-      :

-       (   ):

-             10 .    20

-          ,          28 ,              ', '2014-12-17 19:03:25', 1, '2014-12-17 19:10:22', 1, 1),
(37, 23, '2014-12-17', '  ', 0, '8+4(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', '-        .   .         (         )

- :

-HBsAg negative, anti-HCV negative, anti-HIV1,2 negative, Toxoplasma IgG and IgM negative, CMV IgG positive IgM negative, Rubella IgG and IgM negative

-TSH, fT3, fT4

-VDRL negative

-, , ,  ,

- 41 ()

-  ,

-Hct 36.7, HGB 12.1, WBC 10.400, PLT 291.000

-           14          (12+3wbd)

-      ', '2014-12-17 20:40:15', 1, '2014-12-17 20:52:23', 1, 1),
(38, 20, '2015-01-07', null, 0, '15+5(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', '-

-   Hct 35.6, HgB 11.8    .   Tardyferon 1*1

-: 64,6 , : 129/85mm Hg

-U/S :  , UA: 15+5,

-             .

-  50     ', '2015-01-07 15:29:22', 1, '2015-01-07 17:10:38', 1, 1),
(39, 24, '2015-01-13', null, 0, '34+2(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', '-    .     (   )      .          16  2015     : 1)       doppler    2)      3)   NST. A

-   doppler           .  , EFW 2332gr

-    Toxoplasma  CMV      IgG   IgM

-      36wbd (  ):  ,    .      22  2015          .        Travogen 600mg

-      ,        .

-     ', '2015-01-13 14:19:55', 1, '2015-01-22 19:01:44', 1, 1),
(40, 22, '2015-01-13', null, 0, '12+1(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', null, '2015-01-13 17:34:40', 1, '2015-01-13 17:37:39', 1, 1),
(41, 22, '2015-01-13', '  ', 0, '12+1(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', '-

- Coombs , HBsAg negative, anti HCV negative, anti HIV negative,  : Hct 35, HGB 11.6 ( ), PLT 265.000, WBC 7810

- 6,8,  85,  20,  0,64,   2,4   74

- :

-HBA1c 5.6

-fT4 1.2 and TSH 1.8 normal values

-CMV negative IgG and IgM

-Toxoplasma negative IgG and IgM

-Rubella positive IgG and negative IgM

-

-: 100/70mmHg

-: 61,4

-  :  ,  +, AUA 13+1 (    )

-       ,

-    (   16 ) ', '2015-01-13 18:16:39', 1, '2015-01-13 18:25:11', 1, 1),
(42, 23, '2015-01-15', null, 0, '12+5(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', '-            .   .

-               ,            16      ', '2015-01-15 20:39:24', 1, '2015-01-15 20:41:00', 1, 1),
(43, 27, '2015-01-20', null, 0, '34+6(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', '-               4,

-            39+1wbd   20  2015,       ( PPROM )    .

-

-  (   ):

- :

-doppler   .             .

- :

-    :

- : .

- :

- Coombs: .    .

-

-: 100/70mmHg

- 800 :     100     700   .             .            ,   !!!   900      100.    ,     .

-   ,    !!!!!!!!!!!!!!!!', '2015-01-20 16:04:16', 1, '2015-01-20 17:37:26', 1, 1),
(44, 28, '2015-01-20', null, 0, '5+0(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', '-   :      .

-

-SOS:          .         1-2    ,     CT

-    22         .     .     23         .       .                   \\\\\\\\\\\\\\\''  .   Rhophylac   Rhesus

-  Vibramycin 1*2  8   Mitrotan 1*2  4 .

-   spiral.              ,                    ,    spiral.

-SUPER SOS:                 ,      .     Cytotec          .          .   ,               50   .     !!!!!!!                    .

-       3            !!!!!

-

-   ,       3  2015.       ,     ,             Vibramycin  Mitrotan  4

-             :  ,     .     .  .          ', '2015-01-20 17:57:38', 1, '2015-02-10 18:02:28', 1, 1),
(45, 28, '2015-01-20', null, 0, null, '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', null, '2015-01-20 18:24:50', 1, '2015-01-20 18:25:03', 1, 0),
(46, 18, '2015-01-21', ' ', 0, '22+2(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', '-   :  , +,

- , Grade 0,

-AUA: 22+4, EFW: 518gr

-: 100/70mmHg, : 71,6

-     , ,  , , HBsAg, Toxoplasma

-

-

-SOS:    .

-    28   ,         .   .       ,       ,

-   :  32,4 (     Tardyferon              ),  10,5,  7.440,  225.000,  ,     , HBsAg and Toxoplasma IgG and IgM negative

-   50

-         ', '2015-01-21 17:13:13', 1, '2015-01-28 15:08:53', 1, 1),
(47, 24, '2015-01-27', ' ', 0, '36+2(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', '-

- NST  : ,

-   : /, +,   , : .     doppler,       .     ,     NST,  ,      .

-    : . \''        .

-:  Candida Albicans        Travogen 600mg \''

-: 100/70mmHg

-        ,   3 ,   ,  NST, ,  ,    .   ,      ', '2015-01-27 14:37:47', 1, '2015-01-27 14:43:10', 1, 1),
(48, 21, '2015-01-27', null, 0, '30+0(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', '-    .  .   , AUA 29+5

-

-: 100/70mmHg

-: 81,3

-           , ,  , GT, HBsAg, Toxoplasma, CMV

-       doppler

-      50 ', '2015-01-27 16:02:46', 1, '2015-01-27 16:57:20', 1, 1),
(49, 23, '2015-01-28', null, 0, '14+4(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', '-

-+,       ,

-: 110/70mmHg, : 65,9

-           :  ,  , SGOT, SGPT, gGT,  , HBsAg, Toxoplasma

-  Filicine, Tardyferon, Mega Calcium   Trofocard

-     (  18 )                 ', '2015-01-28 18:46:26', 1, '2015-01-28 18:58:17', 1, 1),
(50, 20, '2015-01-30', null, 0, '19+0(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', '-    :  , +, , AUA: 18+2,  :

-: 110/70, :66,5

-  :  37,8,  12,6,  241,000,  13,000,     : , Toxoplasma IgG and IgM negative, HBsAg negative,

-             26 , 17:30

-              :  ,               15

-   50    ', '2015-01-30 17:56:13', 1, '2015-01-30 18:40:32', 1, 1),
(51, 25, '2015-01-31', null, 0, '15+5(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', '-

- :  , +, , AUA    ,  : .

-: 100/70, : 58,2

-

-     :    , HBsAg, Toxoplasma

-      amp Legofer 1*2

-

-   50    ', '2015-01-31 10:40:54', 1, '2015-01-31 11:47:24', 1, 1),
(52, 29, '2015-02-04', null, 0, '6+4(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', '-   .  ,  +.   ,   .

-

-          loop

-     ,            14-15

-     ,     caps Utrogestan 100mg 1*2

-  50

-

-              ,  .      ,

-          ,        ', '2015-02-04 17:47:10', 1, '2015-02-04 21:20:52', 1, 1),
(53, 30, '2015-02-04', null, 0, null, '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', null, '2015-02-04 21:32:06', 1, '2015-02-04 21:32:29', 1, 0),
(54, 30, '2015-02-04', ' .   ', 0, '26+1(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', '-

-   : 50    (  ), 600      , 100         ,

-             . ,   ( !!!!!!!!!!!!!), ,  ,    ,  Coombs, ,

-      IgG and IgM       31   rubella IgG positive

-           .         36

-

-              (AUA 26+6 weeks, EFW 1047gr)

-: 110/70, : 78

-

-', '2015-02-04 21:32:48', 1, '2015-02-04 21:39:42', 1, 1),
(55, 21, '2015-02-10', null, 0, '32+0(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', '-  doppler    :

-  : HBsAg negative, CMV IgG and IgM negative, Toxoplasma IgG and IgM negative, : 15,480, : 33,1, : 11,2 (          ),  Coombs ,  , , gGt ,

-

-          ,

-    50    ,         !!!!!!!!!!!!!!', '2015-02-10 17:22:45', 1, '2015-02-24 19:56:57', 1, 1),
(56, 30, '2015-02-11', null, 0, '27+1(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', '-      .    .

- : .  88mg/dl, 60 108md/dl   120 70mg/dl

- 36,8,  12,2 (   Pregnacare),  10,200,  250,000, , ,  , , GT, LDH

-  Trofocard      . 1*2      1*3

-     :  -, ,

-        15

-       doppler         .      ,                ', '2015-02-11 17:48:18', 1, '2015-02-11 18:55:10', 1, 1),
(57, 29, '2015-02-12', null, 0, '7+5(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', '-         .

- : ,   , : , VDRL , : ,  : , Toxoplasma IgG and IgM negative, HBsAg negative, anti-HCV negative, anti-HIV1,2 negative, Rubella IgG positive IgM negative, CMV IgG positive IgM negative

-  9,440,  41,3,  14,0,  153.     .

- , , :

- Coombs

-        .        CRL

-      loop      CINII,            ,  1,5 .         ,

-     . SUPER SOS:            ,     .                .      .

-    ', '2015-02-12 19:16:31', 1, '2015-02-12 19:31:21', 1, 1),
(58, 18, '2015-02-12', ' ', 0, '25+3(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', '-        .

- : 79,    221     192

-

-       :   , +, AUA: 25+1 weeks, EFW 770gr

- 110/70   73,3

-       -, , ,  , HbA1c         28          ', '2015-02-12 21:03:33', 1, '2015-02-12 21:09:20', 1, 1),
(59, 24, '2015-02-16', null, 0, '39+1(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', '-        , : 3740 gr,

-   Bishop score   6.    Prostin

-  300     ,   ', '2015-02-16 13:02:53', 1, '2015-02-16 13:06:22', 1, 1),
(60, 22, '2015-02-17', null, 0, '17+1(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', '-    .

-       Cytogenomics.        .      .

-  :   , +,  !!!!!!!!!!!!!!!!!!!, AUA 17+5 weeks, EFW  224gr

- 100/60,  64,5

-        :  , , ,  , ,  ,

-     mail

-

-  50    30

-', '2015-02-17 16:05:24', 1, '2015-02-21 12:24:25', 1, 1),
(61, 21, '2015-02-24', null, 0, '34+0(wbd)', '0', '0', '0', '0', null, null, null, null, null, null, null, '0', '0', '- : ,

-: 110/70 , : 84,9

-U/S: /, AUA: 33+4, EFW: 2267gr, doppler  ,   ,  grade 0-1


... to be continued

In [8]:
get_tables(db_path)

('alembic_version',)
('users',)
('patients',)
('history_medical',)
('history_obstetrics',)

--------------